<% layout('layouts/boilerplate') %>
  </head>
  <body>
    <h1><%= listing.title %></h1>
    <p><%= listing.desc %></p>
    <p><%= listing.location %></p>
    <p>&#8377;<%= listing.price.toLocaleString('en-IN') %></p>
    <p><%= listing.country %></p>
    <a href=" /listing/<%= listing._id %>/edit ">edit</a>
    <form action="POST" method=""></form>
  </body>

